<section class="about-offers py-5">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="img-container position-relative">
                    <img src="assets/Images/women-offer.png" alt="" class="img-fluid">
                    <a href="#" class="btn btn-light btn-lg rounded-4 position-absolute">Buy Now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-container position-relative">
                    <img src="assets/Images/men-offer.png" alt="" class="img-fluid">
                    <a href="#" class="btn btn-light btn-lg rounded-4 position-absolute">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>