.hero-section {
    background: linear-gradient(to bottom right , rgba(0,0,0,0.3) , rgba(0,0,0,0.3)) , url("../../../assets/Images/img_1.png") no-repeat center center;
    background-size: cover;
    padding: 12rem 0;
}

