<section class="brands py-5">
    <div class="text-container text-center">
        <h2 class="fw-bold">Our Premium Brands</h2>
        <p class="lead">Shop your favorite luxury brands all in one place</p>
    </div>
    <div class="slider mt-5">
        <div class="slide-track d-flex gap-3">
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Chanel Logo.png" alt="Chanel Logo">
                <h4>Chanel</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Zara Logo.png" alt="Zara Logo">
                <h4>Zara</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Dior Logo.png" alt="Dior Logo">
                <h4>Dior</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Fendi Logo.png" alt="Fendi Logo">
                <h4>Fendi</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Gucci Logo.png" alt="Gucci Logo">
                <h4>Gucci</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\H&M Logo.png" alt="H&M Logo">
                <h4>H&M</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Marks and Spencer Logo.png" alt="Marks and Spencer Logo">
                <h6>Marks and Spencer</h6>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\victorias secret logo.png" alt="Victorias Secret Logo">
                <h5>Victorias Secret</h5>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Versace Logo.png" alt="Versace Logo">
                <h4>Versace</h4>
            </div>

            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Chanel Logo.png" alt="Chanel Logo">
                <h4>Chanel</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Zara Logo.png" alt="Zara Logo">
                <h4>Zara</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Dior Logo.png" alt="Dior Logo">
                <h4>Dior</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Fendi Logo.png" alt="Fendi Logo">
                <h4>Fendi</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Gucci Logo.png" alt="Gucci Logo">
                <h4>Gucci</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\H&M Logo.png" alt="H&M Logo">
                <h4>H&M</h4>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Marks and Spencer Logo.png" alt="Marks and Spencer Logo">
                <h6>Marks and Spencer</h6>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\victorias secret logo.png" alt="Victorias Secret Logo">
                <h5>Victorias Secret</h5>
            </div>
            <div class="slide d-flex flex-column gap-2">
                <img src="assets\Images\Versace Logo.png" alt="Versace Logo">
                <h4>Versace</h4>
            </div>
        </div>
    </div>
</section>