<section class="offers py-5">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-7">
                <div class="text-center bg-dark text-light d-flex flex-column justify-content-center align-items-center text-container">
                    <h2>Peace Of Mind</h2>
                    <p class="w-50">A one-stop platform for all your fashion needs, hassle-free. Buy with a peace of mind.</p>
                    <a href="#" class="btn btn-light btn-lg mt-2">Buy Now</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="text-center bg-dark text-light d-flex flex-column justify-content-center align-items-center text-container">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p class="w-50">End of season sale. Buy any 2 items of your choice and get 1 free.</p>
                    <a href="#" class="btn btn-light btn-lg mt-2">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
