.testimonial{
    padding: 3rem 12rem;
    background-color: rgb(243, 238, 238);
    margin-top: 2rem;

}

.quote-icon{
    font-size: 50px;
}

.testimonial {
    @media (max-width: 768px) {
        .lead {
            font-size: 1rem;
            width: 100%;
        }
        h1 {
            font-size: 1.5rem;
        }
        .top-card img {
            width: 80px;
        }
    }
}

