.hero{
    background: linear-gradient(to bottom right , rgba(0,0,0,0.3) , rgba(0,0,0,0.3)) , url("/assets/Images/contact-hero.jpg") no-repeat center center;
    background-size: cover;
    height: 50vh;
}

.hero-title{
    bottom: 40px;
    left: 40px;
}

.back{
    border: none;
    outline: none;
    background-color: #024E82;
    color: #fff;
    padding: 15px 25px;
}


.back:hover{
    border: 1px solid #555555;
    color: #024E82;
    background-color: transparent;
}