<section class="our-team py-5">
    <div class="text-container text-center">
        <h1 class="fw-bold">Our Team</h1>
    </div>
    <div class="container">
        <div class="row py-5 g-3">
            <div class="col-md-3">
                <div class="card text-center ">
                    <img src="assets/Images/me.jpg" alt="Team Image" height="350">
                    <h4 class="card-title my-3">
                        Ahmed Fadl
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center ">
                    <img src="assets/Images/Team-2.jpg" alt="Team Image" height="350">
                    <h4 class="card-title my-3">
                        Name 2
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center ">
                    <img src="assets/Images/Team-3.jpg" alt="Team Image" height="350">
                    <h4 class="card-title my-3">
                        Name 3
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center ">
                    <img src="assets/Images/Team-4.jpg" alt="Team Image" height="350">
                    <h4 class="card-title my-3">
                        Name 4
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>