<section class="new-arrivals py-5">
    <div class="text-container text-center">
        <h2 class="fw-bold">Discover New Arrivals</h2>
        <p class="lead">Recently Added Products</p>
    </div>
    <div class="container">
        <div class="row py-4 g-4">
            <div class="col-md-3" *ngFor="let product of displayedProducts">
                <div class="card h-100 d-flex new-product-card" (click)="onSelectProduct(product._id)">
                    <div class="new-badge" *ngIf="isNewProduct(product)">NEW</div>
                    <img src="{{product.image}}" alt="{{product.name}}" class="card-img-top">
                    <div class="card-body text-center d-flex flex-column flex-grow-1">
                        <h4 class="card-title">{{product.name}}</h4>
                        <p class="fw-bold lead">{{product.price | currency}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-3">
                <div class="service d-flex gap-3">
                    <i class="fa-solid fa-truck-fast fa-2x"></i>
                      <div class="info">
                        <h4>Free Shipping</h4>
                        <p>Enjoy free shipping on all orders above $100</p>
                      </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service d-flex gap-3">
                    <i class="fa-regular fa-life-ring fa-2x"></i>
                      <div class="info">
                        <h4>Support 24/7</h4>
                        <p>Our support team is there to help you for queries</p>
                      </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service d-flex gap-3">
                    <i class="fa-solid fa-rotate-left fa-2x"></i>
                      <div class="info">
                        <h4>30 Days Return</h4>
                        <p>Simply return it within 30 days for an exchange.</p>
                      </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service d-flex gap-3">
                    <i class="fa-solid fa-fingerprint fa-2x"></i>
                      <div class="info">
                        <h4>100% Payment Secure</h4>
                        <p>Our payments are secured with 256 bit encryption</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>